# Database
DATABASE_URL="postgresql://user:password@localhost:5432/starseven?schema=public"

# App
PORT=3001
APP_URL=http://localhost:3001

# Storage (Railway Volume)
# En producción, esto debería apuntar al punto de montaje del volumen (ej: /app/uploads)
UPLOAD_PATH=./uploads
